/* @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); */

:root {
  --app-background: linear-gradient(0deg,#131e22,#0e0e0e 60%);
  padding-bottom: var(--safe-area-inset-bottom, 0px);
  
}
body {
  margin: 0;
  /* overflow-x: hidden !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(19,30,34); */
  background:var(--app-background);
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: "textfield";
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html, body {
  /* overflow-x: hidden !important; */
  /* overscroll-behavior-x: none; */
  width: 100% !important;
}




